body {
  padding-top: 4rem;
  background-color: #333;
  color: #ccc;
}

header {
  background: #1B1B1A;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 1rem;
  text-align: center;
}

header>h1 {
  padding: 0;
  margin: 0;
}

nav a {
  margin: 0 .3rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #eee;
}

nav {
  margin: 1rem;
}

label {
  color: #c9c9c9;
}

input, button {
  margin: .2rem;
  outline: none;
  border: none;
  padding: .25rem .5rem;
  font-size: 1rem;
  border-radius: .25rem;
}

button {
  background-color: #579c49;
  color: #242424;
  font-weight: bold;
}

button.cancel {
  background-color: #FF5757
}

button:disabled {
  background-color: #BABABA;
  color: #787878
}

a {
  color: #099;
}

div.trailer-container {
  position: relative;
  margin: 0 auto;
  width: 480px;
  height: 270px;
  color: #787878;
}

div.trailer-container>iframe {
  position: absolute;
  top: 0;
  left: 0;
}

#root>section {
  text-align: center;
}

.movies-container {
  margin: 0 auto;
  padding: 0 .3rem;
  /* padding-bottom: 0; */
  width: 50%;
  background-color: #555;
  border-radius: .3rem;
}

.pick-movie-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border: 1px solid transparent;
  border-bottom-color: #787878;
  /* padding: .5rem 1rem; */
  color: #fff;
}
.pick-movie-container:last-child {
  border-bottom-color: transparent;
}

.movie-title {
  flex: 1 0 auto;
  padding: .5rem 0 .6rem 0;
  cursor: pointer;
}

.movie-title:hover {
  background-color: #2c2c2c;
  border-radius: .3rem;
}
.movie-details {
  display: flex;
}
.movie-details a {
  padding: .5rem 1rem .3rem 1rem;
}

.movie-details a:hover {
  background-color: #2c2c2c;
  border-radius: .3rem;
}

.rows {
  display: inline-block;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  color: #c9c9c9;
}

.seat {
  position: relative;
  margin: .2rem;
  border: 1px solid #000;
  border-radius: .5rem;
  width: 1.5rem;
  box-shadow: 2px 2px 3px 0px #111;
  background-color: #BABABA;
  color: #242424;
  text-align: center;
  cursor: pointer;
}

.seat:hover {
  background-color: rgb(187, 131, 11);
}

/* .seat.special {
  background-color: aqua;
} */

.seat.selected {
  background-color: #579c49;
}

.seat.selected:hover:before { 
  position: absolute;
  left: 0;
  border-radius: .5rem;
  width: 100%;
  background-color: #FF5757;
  content: 'x';
}

.seat.taken {
  background-color: darkred;
}

.tickets-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.ticket {
  position: relative;
  margin: .5rem;
  border-radius: .3rem;
  width: 15rem;
  background-color: #fff;
  color: #000;
}

.ticket:before {
  position: relative;
  top: 50%;
  left: -.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: .5rem;
  background-color: #333;
  content: "";
}

.ticket:after {
  position: absolute;
  top: 50%;
  right: -.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: .5rem;
  background-color: #333;
  content: "";
}

.ticket>h3, .ticket>h4 {
  color: #000;
}