#root>section {
  text-align: center;
}

.rows {
  display: inline-block;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

.seat {
  margin: .2rem;
  border: 1px solid #000;
  width: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.seat.special {
  background-color: aqua;
}

.seat.selected {
  background-color: chartreuse;
}

.seat.taken {
  background-color: darkred;
}